<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0e1842" />
    
    <title>VSpy</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <!--Boxicons CDN Link-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"> 
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <div class="sidebar active">
        <div class="logo_details">
            <div class="logo">
                <img src="logo.png" alt="logo" style="width: 50px;height: 50px">
                <div class="logo_name">VSpy</div>
            </div>

            <a href="#">
                <i class='bx bx-menu' id="btn"></i>
            </a>
        </div>
        <hr style="margin-top: 10px; width: 80%; height: 0.1mm">
        <ul class="nav_list">
            <li>
                <div class="iocn-link">
                        <i class='bx bx-calendar'></i>
                        <span class="links_name" id="date"></span>
                </div>
            </li>
            <li>
                <div class="iocn-link">
                        <i class='bx bx-time' ></i>
                        <span class="links_name" id="time"></span>
                </div>
                <div></div>
                <button id="button" onclick="centerMap()" style="border-radius: 20px">
                    <i class='bx bx-target-lock'></i>
                </button>
            </li>
            <li>
                <div class="iocn-link-rt">
                    <a href="#" id="pickingMap">
                        <i class='bx bxs-map-pin'></i>
                        <span class="links_name">Recorridos por lugar</span>
                    </a>
                </div>

            </li>
            <li>
                <div class="iocn-link-rt">
                    <a href="#" id="recorridos">
                        <i class='bx bxs-watch'></i>
                        <span class="links_name">Recorridos por fecha</span>
                    </a>
                </div>
                <div class="historic active">
                    <div class="moment">
                        <p style="margin-top: 5px">Escoja fecha y hora de incio</p>
                        <input
                                id="start_date"
                                type="date"
                                onkeydown="return false">
                        <input
                                id="start_time"
                                type="time"
                                onkeydown="return false"
                                style="margin-top: 5px">
                    </div>
                    <div class="moment">
                        <p style="margin-top: 10px">Escoja fecha y hora de fin</p>
                        <input
                                id="end_date"
                                type="date"
                                onkeydown="return false">
                        <input
                                id="end_time"
                                type="time"
                                onkeydown="return false"
                                style="margin-top: 5px">
                    </div>
                    <div class="boton">
                        <button id="historics">
                            <i class='bx bx-search-alt-2' ></i>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="home_content">
        <div id="onScreeBox">
            <h3 id="boxTitle"></h3>
            <div id="register">

            </div>
        </div>
        <div id="map-template"></div>
    </div>

    <script>
        let btn = document.querySelector("#btn");
        let sidebar = document.querySelector(".sidebar");
        let rec = document.querySelector("#recorridos");
        let historic = document.querySelector(".historic");
        let pick = document.querySelector("#pickingMap");
        let pickingMap = false;


        rec.onclick = function () {
            historic.classList.toggle("active");
            if(!historic.classList.contains('active')){
                document.getElementById('recorridos').style = 'color: #0e1842; background: #c9d1ff;';
                document.getElementById('pickingMap').style = 'color: #ffffff; background: #1f2e6c;';
                document.getElementById('onScreeBox').style = 'display: none;'
                pickingMap = false;
                map.removeLayer(histMarker);
                try{
                    document.getElementById('RegisterDiv').remove();
                } catch (err){
                }

            }else{
                document.getElementById('recorridos').style = 'color: #ffffff; background: #1f2e6c;';
            }
            console.log(pickingMap)
        }

        pick.addEventListener('click',function (){
            if(!historic.classList.contains('active')) {
                historic.classList.toggle("active");
                document.getElementById('recorridos').style = 'color: #ffffff; background: #1f2e6c;'
            }
            if(!pickingMap){
                pickingMap = true
                document.getElementById('onScreeBox').style = 'display: block;'
                document.getElementById('pickingMap').style = 'color: #1f2e6c; background: #c9d1ff;';
                document.getElementById('boxTitle').innerHTML = "Por favor, haga click en algún lugar del mapa"

            } else {
                document.getElementById('onScreeBox').style = 'display: none;'
                document.getElementById('pickingMap').style = 'color: #ffffff; background: #1f2e6c;'
                pickingMap = false;
                map.removeLayer(histMarker);
                try{
                    document.getElementById('RegisterDiv').remove();
                } catch (err){

                }
            }
            console.log(pickingMap)
        });


        btn.onclick = function() {
            sidebar.classList.toggle("active");
        }


    </script>

    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script> 
    <script src="/js/main.js"></script>
</body>
</html>